body{
    background-color: #000000;    
    padding: 5%;
}
canvas {
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    border-style: solid;
    margin: auto;
    float: left;
    
}
button {
    float: left;
    font-size: 70px;
    color: white;
    padding: 2%;
    margin-left: 5%;
    margin-top: 5%;
    border-style: none;
    border-radius: 20px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.151);
    clear: right;
    background-color: #E33B5A;   
}
button:disabled{
    background-color: #696969;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.151);
}
button:hover:enabled{
    box-shadow: -5px 5px rgba(15, 15, 15, 0.041);
    background-color: #e3c43b;
    cursor: pointer;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.151);
}
img.sprite {
    visibility: hidden;
}