body{
    background-color: rgb(222,212,185);    
}
img {
    display: none;
    visibility: hidden;
}       
table.botonesFiltros {    
    width: 100px;
    height: 100px;        
    float: left;
    margin-left: 2%;
}
table.botonesFiltros td{        
    height: 100%;
    width: 100%;        
    text-align: center;          
}
table.botonesFiltros td{        
    text-align: center;        
}
table.botonesImagen tr.imagenes{        
    border-radius: 5%;
    background-color: rgb(70, 67, 58);          

}
table.botonesImagen tr.imagenes td{    
    border-radius: 5%;    
    margin: 10% 10% 10% 10%;

}
table.botonesImagen tr.imagenes canvas{    
    border-radius: 2%;        

}
table.botonesFiltros td button {   
    color: white; 
    height: 80px;
    width: 130px;        
    box-shadow: -2px 4px rgba(0, 0, 0, 0.151);
    padding: auto;
    font-size: medium;
    font-variant-caps: all-small-caps;
    font-weight: bolder;    
    border-style: none;
    background-color: rgb(68, 113, 196);      
    margin-top: 5%;
    margin-bottom: 5%;    
}
table.botonesFiltros td button:hover {
    color: white;
    background-color: rgb(100,182,177);    
    cursor: pointer;
}
table.botonesImagen {    
    width: 50%;
    height: 50%;    
    float: left;    
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.253);
    box-shadow: -2px 4px rgba(0, 0, 0, 0.151);
}
table.botonesImagen{
    text-align: center;
}
table.botonesImagen th button {    
    color: white;
    margin: 5% 5% 5% 5%;
    box-shadow: -2px 4px rgba(0, 0, 0, 0.151);
    padding: 10% 10% 10% 10%;
    border-radius: 40px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-variant-caps: all-small-caps;
    font-size: x-large;
    align-items: center;    
    border-style: none;
    background-color: rgb(206,83,77);    
    
}
table.botonesImagen th button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(100,182,177);    
    
}